<div class="row">
  <div class="form-group">
    <div class="col-xs-8">
      <h1>Estado de las Ordenes</h1>
      <a
      style="cursor: pointer;"
      [routerLink]="['maintenance']"
      routerLinkActive="active"
      class="btn btn-primary"
      >Crear plato</a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nombre del Plato</label>
          <input
          type="text"
          id="name"
          class="form-control"
          name="name"
          ngModel
          required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Precio</label>
          <input
          type="number"
          id="amount"
          class="form-control"
          name="amount"
          ngModel
          required
          pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
          class="btn btn-success"
          type="submit"
          [disabled]="!f.valid">{{editMode? 'Update' : 'Add'}}</button>
          <button
          class="btn btn-danger"
          type="button"
          (click)="onDelete()"
          *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)= "onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<ul class="list-group">
  <a
  class="list-group-item"
  style="cursor: pointer"
  *ngFor="let orden of ordenes; let i = index"
  (click)="onEditItem(i)"
  >
    {{orden.nombreCliente}} ({{orden.monto}})
</a>
</ul>
