<div class="well formStyle">
  <div class="row">
    <div class="form-group">
      <div class="col-xs-8">
        <h1>Lista de Ordenes</h1>
        <a
        style="cursor: pointer;"
        [routerLink]="['maintenance']"
        routerLinkActive="active"
        class="btn btn-primary"
        >Crear plato</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Nombre del Cliente</label>
            <input
            type="text"
            id="name"
            class="form-control formStyle"
            name="name"
            ngModel
            required
            >
          </div>
          <div class="col-sm-2 form-group">
            <label for="estado">Estado</label>
            <input
            type="number"
            id="estado"
            class="form-control formStyle"
            name="estado"
            ngModel
            required
            pattern="^[1-3]+[0-3]*$"
            >
          </div>
          <div class="col-sm-2 form-group">
              <label for="amount">Monto</label>
            <input
            type="number"
            id="monto"
            class="form-control"
            style="background-color: rgba(255,255,255,0.05)"
            name="monto"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            [attr.disabled]="true"
            >
          </div>
          <div class="col-sm-2 form-group">
            <label for="platos" *ngIf="false">Platos</label>
            <input
            type="hidden"
            id="platos"
            class="form-control"
            name="platos"
            ngModel
            required
            [attr.disabled]="true"
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">Update</button>
            <button
            class="btn btn-success"
            type="button"
            (click)="onSave()"
            >Save</button>
            <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode">Delete</button>
            <button class="btn btn-primary" type="button" (click)= "onClear()">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table table-hover">
       <thead>
         <tr>
           <th>Nombre del Cliente</th>
           <th>Estado</th>
           <th>Platos</th>
         </tr>
       </thead>
       <tbody style="color: black">
         <tr *ngFor="let orden of ordenes; let id = index;" (click)="onEditItem(id)" [ngClass]="{'success': orden.estado===3, 'info': orden.estado===2, 'warning': orden.estado===1}">
           <td>{{orden.nombreCliente}}</td>
           <td>{{orden.estado | estado}}</td>
           <td><tr *ngFor="let plato of orden.platos; let i = index;">{{plato.plato.nombrePlato}}</tr></td>
         </tr>
       </tbody>
     </table>
  </div>
</div>
