<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="ordenForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="row">
          <div class="col-xs-12">
            <label for="plato">Plato</label>
            <div class="row" style="margin-top: 10px;">
              <div class="col-xs-8">
                <input type="text" class="form-control" id="platos">
              </div>
              <div class="col-xs-2">
                <input type="number" class="form-control">
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-danger">X</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-success">Agregar Plato</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <div class="form-group">
              <label for="name">Nombre del Cliente</label>
              <input type="text" id="nombreCliente" class="form-control" formControlName="nombreCliente">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="form-group">
              <label for="monto">Monto</label>
              <input type="text" id="monto" class="form-control" formControlName="monto">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
