<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Bryan's Restaurant</a>
      <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-left">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li><a routerLinkActive="active" routerLink="/rol/cashier">Cajero</a></li>
          <li><a routerLinkActive="active" routerLink="/rol/chef">Chef</a></li>
          <li><a routerLinkActive="active" routerLink="/rol/manager">Administrador</a></li>
        </ng-template>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>
        <li><a
          style="cursor: pointer;"
          *ngIf="authService.isAuthenticated()"
          >Logout</a></li>
        <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
