<div class="well" style="background-color: rgba(255,255,255,0.05); color:white;">
  <h1>Ingresar</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-group">
          <label for="emalil">Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control" required>
        </div>
        <div class="form-group">
          <p style="color:red;">{{authService.errorSignIn}}</p>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign In</button>
      </form>
    </div>
  </div>
</div>
